header {
    display: flex;
    flex-direction: row;
}
header ul {
    display: flex;
    margin-left: auto;
    list-style-type: none;
}
li a {
    margin-right: 20px;
    font-size: 12px;
    color: #f9faf8;
    display: flex;
    align-items: flex-start;
}
/*put these values here so it will be easier later*/
.Hero-Main-Text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.Header-Logo-Text {
    color: #f9faf8;
    font-size: 24px;
}
.button-color {
    background-color: #3882f6;
}
.information-header-text {
font-size: 36px;
font-weight: bolder;
background-color: #1f2937;
}
.quote-section-background-color {
    color: #E5E7EB;
}
.quote-text {
    font-size: 36px;
   font-style: italic;
    color: #1f2937;
}
#awesome {
    
    background-color: #1f2937;
    color: #E5E7EB;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#sick-pick {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.row-and-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1f2937;
    flex-wrap: wrap;
}
.row-and-photo p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
#Sign-Up {
    background-color: #3882f6;
    display: block;
    height: 40px;
    width: 50px;
}
h2 {
    display: flex;
    justify-content: center;
}
.box-pic {
    border-radius: 20px;
    border-color: #3882f6;
}
.boxes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
img {
    display: flex;
    flex: 0 1 auto;
}
.quote {
    background-color: #E5E7EB;
}
.quote p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 26px;
    font-style: italic;
     color: #1f2937;
}
.quote p span {
    margin-left: 900px;
    font-weight: bold;
}
.call-to-action {
    background-color: #3882f6;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.call-to-action h3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #E5E7EB;
}
.call-to-action p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #E5E7EB;
    font-size: 12px;
}
.call-to-action button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #3882f6;
    display: block;
    height: 40px;
    width: 50px;
}
footer {
    background-color: #1f2937;
    
}
footer p {
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: center;
}